<h1>Hospital</h1>

<table class="table table-striped table-responsive-md btn-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td><%= hospital.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Hospital', new_hospital_path %>
</p>