<h1>Doctor</h1>

<table class="table table-striped table-responsive-md btn-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hospital</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.hospital.name %></td>
        <td><%= link_to "Show Schedules", doctor %></td>
      </tr>
    <% end %>
  </tbody>
</table>